bin/
obj/

.vs/
.vscode/

*.user
*.suo

.idea/

# Logs
*.log

.env

packages/

appsettings.*.json

# Docker named volume mount (если у вас локально лежит папка с данными)
chatapp-data/

# OS files
.DS_Store
Thumbs.db
